
<div class="container text-center">
    <div class="mt-4">
        <h1>Show disponibles</h1>
    </div>

    <div class="row justify-content-center">
        <div class="col" *ngFor="let event of events">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">{{event.eventName}}</h5>
                    <p class="card-text">
                        Fecha: {{event.eventDate}}<br>
                        Ubicación: {{event.eventLocation}}<br>
                        Descripción: {{event.eventSynopsis}}<br>
                        Precio: {{event.eventPrice}}<br>
                        Artistas: {{event.eventArtist}}
                    </p>
                    <a href="/{{event.id}}" class="btn btn-primary">Ver más</a>
                </div>
            </div>
        </div>
    </div>
    
</div>

